hacking>=0.12.0,!=0.13.0,<0.14
coverage>=3.6
fixtures>=0.3.14
mock>=1.0
sphinx>=1.6.2 # BSD
testscenarios>=0.4
stestr>=1.0.0
testtools>=0.9.34
PyMySql
psycopg2
oslo.concurrency>=3.5.0
# releasenotes
reno>=0.1.1 # Apache2
openstackdocstheme>=1.11.0 # Apache-2.0
# This is needed for oslo.db test code to be imported, it's not
# directly installed by oslo.db
testresources>=0.2.4 # Apache-2.0/BSD
testscenarios>=0.4 # Apache-2.0/BSD
